.hudElement {
    --vector-fill-color: rgb(221, 80, 238);
    --vector-fill-color-transition-time: 500;
    flex-shrink: 0;
    flex-grow: 1;
    --vector-line-color: rgb(173, 173, 173);
}

.hudElement:hover {
    --vector-fill-color: rgba(255, 0, 0, 0.53);
}
