:root {
    -unity-font-definition: url("project://database/Assets/Fonts/VCR_OSD_MONO%20SDF-internal.asset?fileID=11400000&guid=19aad70f333df446fa14a26603c1ab70&type=2#VCR_OSD_MONO SDF-internal");
    -unity-material: url("project://database/Assets/Shaders/RetroStaticUI.shadergraph?fileID=-876546973899608171&guid=69700b1ae33124c94ba8dda5b7003190&type=3#RetroStaticUI");
    -unity-text-generator: standard;
    --Primary: rgba(93, 211, 158, 0.9);
    --Secondary: rgba(211, 95, 147, 0.8);
    --Background: rgb(39, 33, 60);
    opacity: 1;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.primary {
    background-color: var(--Primary);
    color: var(--Secondary);
}

.primary > Label {
    color: var(--Secondary);
}

.primary > Image {
    -unity-background-image-tint-color: var(--Secondary);
}

.secondary {
    background-color: var(--Secondary);
}

.secondary > Label {
    background-color: rgba(255, 255, 255, 0);
    -unity-background-image-tint-color: rgb(255, 255, 255);
    opacity: 1;
    color: var(--Primary);
}

.background {
    background-color: var(--Background);
}
