UIDocumentRootElement {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

:root {
    -unity-font-definition: url("project://database/Assets/Fonts/welbutrin/Welbut__%20Bitmap.asset?fileID=11400000&guid=7a29126173bc1b4fba9bdcf432284dfb&type=2#Welbut__ Bitmap");
    -unity-material: url("project://database/Assets/Shaders/RetroStaticUI.shadergraph?fileID=-876546973899608171&guid=69700b1ae33124c94ba8dda5b7003190&type=3#RetroStaticUI");
    --Primary: rgba(34, 237, 230, 0.7);
    --Primary-Text: rgba(34, 237, 230, 0.95);
    --Secondary: rgba(138, 0, 62, 0.7);
    --Caution: rgba(198, 224, 46, 0.7);
    --Caution-Text: rgba(198, 224, 46, 0.95);
    --Active-Color: rgba(46, 207, 202, 0.95);
    --Cooldown-Color: rgba(188, 59, 59, 0.75);
    --Energy: rgba(46, 207, 202, 0.95);
    --Health: rgba(188, 59, 59, 0.75);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    --Secondary-Text: rgba(137, 0, 61, 0.95);
    --Background: rgba(39, 33, 60, 0.5);
    --Red: rgb(229, 61, 83);
    flex-shrink: 0;
    flex-grow: 1;
    white-space: nowrap;
    -unity-text-align: middle-left;
    -unity-font-style: normal;
    -unity-text-generator: advanced;
}

:disabled {
    filter: grayscale(1) blur(1);
}

Button {
    transition-duration: 0.3s;
    -unity-text-generator: advanced;
    -unity-text-auto-size: best-fit 10px 100px;
    -unity-text-align: middle-center;
    padding: 3px;
    aspect-ratio: 4;
    margin: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

Button:hover {
    filter: grayscale(0.6);
    translate: 0 5px;
    scale: 1 0.95;
}

.primary {
    background-color: var(--Primary);
    color: var(--Primary-Text);
}

Button.primary {
    background-color: var(--Primary);
    color: var(--Secondary-Text);
}

Label.primary {
    background-color: rgba(0, 0, 0, 0);
}

Image.primary {
    -unity-background-image-tint-color: var(--Primary-Text);
    background-color: rgba(0, 0, 0, 0);
}

.primary > Label {
    color: var(--Secondary-Text);
    -unity-text-outline-width: 1px;
    -unity-text-outline-color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0);
}

.primary > Image {
    -unity-background-image-tint-color: var(--Secondary-Text);
}

.secondary {
    background-color: var(--Secondary);
    color: var(--Secondary-Text);
}

Button.secondary {
    background-color: var(--Secondary);
    color: var(--Primary-Text);
}

Label.secondary {
    background-color: rgba(0, 0, 0, 0);
}

.secondary > Label {
    background-color: rgba(0, 0, 0, 0);
    color: var(--Primary-Text);
}

.caution {
    background-color: var(--Caution);
    color: var(--Caution-Text);
}

Label.caution {
    background-color: rgba(0, 0, 0, 0);
}

.background {
    background-color: var(--Background);
}

Label.title {
    -unity-font-style: bold;
    align-self: flex-start;
}

Label.description {
    -unity-text-align: upper-left;
    white-space: normal;
    text-overflow: ellipsis;
    flex-grow: 1;
    overflow: hidden;
    align-self: flex-start;
}

.dangerButton {
    background-color: var(--Red);
    color: rgb(255, 255, 255);
}

.dangerButton:hover {
}

.verticalBorder {
    width: 10px;
    margin-right: 20px;
    margin-left: 20px;
    flex-shrink: 0;
}

RetroNumber {
    -unity-font-definition: url("project://database/Assets/Fonts/fonts-DSEG_v046/DSEG14ClassicMini-Regular%20Bitmap.asset?fileID=11400000&guid=62189914401de4eea99cba59a0b7c712&type=2#DSEG14ClassicMini-Regular Bitmap");
    justify-content: center;
}

RetroNumber > #BackgroundLabel {
    position: absolute;
    -unity-text-generator: advanced;
    -unity-text-auto-size: best-fit 10px 100px;
    color: rgba(36, 36, 36, 0.8);
}

RetroNumber > #Text {
    -unity-text-generator: advanced;
    -unity-text-auto-size: best-fit 10px 100px;
}